@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

:root {
    --cor-primaria: #d1232a;
    --fonte-principal:'Montserrat', sans-serif;
    --fonte-secundaria:'Satisfy', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--cor-primaria);
    width: 100%;
}

.logo_header {
    width: 10%;
    display: flex;
    align-items: center;
}

.titulo_secao {
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    padding: 1% 5%;
    font-size: 40px;
}

.tabela_principal {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: var(--fonte-principal);
    margin: 0 auto;
  }
  
  .tabela_principal th, .tabela_principal td {
    border: 1px solid #0f0f0f;
    padding: 8px;
    text-align: left;
  }
  
  .tabela_principal th {
    background-color: var(--cor-primaria);
    color: rgb(0, 0, 0);
  }